rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        request.auth.uid in ["bgPQyQ7KDndLDQMJXj9fHnV9MdS2"];
    }

    match /confirmaciones/{confirmacionId} {
      allow create: if
        request.resource.data.keys().hasOnly([
          'nombre',
          'asistencia',
          'creadoEn',
          'actualizadoEn'
        ]) &&
        request.resource.data.nombre is string &&
        request.resource.data.nombre.size() >= 2 &&
        request.resource.data.nombre.size() <= 80 &&
        request.resource.data.asistencia is bool;

      allow update: if
        request.resource.data.keys().hasOnly([
          'nombre',
          'asistencia',
          'creadoEn',
          'actualizadoEn'
        ]) &&
        request.resource.data.nombre is string &&
        request.resource.data.nombre.size() >= 2 &&
        request.resource.data.nombre.size() <= 80 &&
        request.resource.data.asistencia is bool &&
        request.resource.data.creadoEn == resource.data.creadoEn;

      allow read: if isAdmin();
      allow delete: if false;
    }
  }
}
